{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": ["src/bedrock/entity/components/*.ts"],
      "plugins": ["sort"],
      "rules": {
        "sort/type-properties": "warn"
      }
    }
  ]
}
